@charset "UTF-8";
/* 테마2 */
/* font */
@import url("https://webfontworld.github.io/TheJamsil/TheJamsil.css");
@import url("https://webfontworld.github.io/cookierun/CookieRun.css");
@import url("https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css");
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf") format("opentype");
}
* {
  font-size: 10px;
}

html {
  overflow: hidden;
}

body {
  background-color: #ffbd51;
}

.tip {
  display: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}

/* 프레임 */
.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 1300px;
  height: 930px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.inner .page.active {
  opacity: 1;
  z-index: 10;
}

.inner > div {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.3s;
}
.inner > div.loading {
  opacity: 1;
  z-index: 10;
}

/* button */
.btn,
.deco,
.BtnsBox {
  position: absolute;
}

.deco {
  width: 140px;
  height: 100px;
  left: 85px;
  bottom: 280px;
  background-image: url(../images/DECO.png);
  background-repeat: no-repeat;
}

/* prev, next 버튼 */
.btn {
  cursor: pointer;
  width: 110px;
  height: 85px;
  left: 108px;
  border: 3px solid #50001b;
  border-radius: 25px;
  background-color: #fc7da8;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 1px #cc4371;
}
.btn:hover {
  transform: translateY(10px);
  box-shadow: 0px 0px 1px #cc4371;
}
.btn.prev {
  top: 265px;
  background-image: url(../images/Button_prev.png);
}
.btn.next {
  top: 390px;
  background-image: url(../images/Button_next.png);
}

/* page 이동 버튼 */
.BtnsBox {
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.BtnsBox ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Btns {
  width: 200px;
  cursor: pointer;
  margin-bottom: 3rem;
  padding: 10px 0px;
  border: 3px solid #8b0f00;
  border-radius: 3rem;
  background-color: #fd5a47;
  box-shadow: 0px 6px 1px #fd5a47;
  text-align: center;
  font-size: 23px;
  font-family: "DNFBitBitv2";
  color: #fff;
  /* &:nth-child(4) {
    border-color: $N-DPink;
    background-color: $N-pink;
    box-shadow: 0px 6px 1px $N-SPink;
    &:hover {
      box-shadow: 0px 0px 1px $N-SPink;
    }
  } */
  /* &:nth-child(5) {
    border-color: $N-DPurple;
    background-color: $N-purple;
    box-shadow: 0px 6px 1px $N-SPurple;
    &:hover {
      box-shadow: 0px 0px 1px $N-SPurple;
    }
  } */
}
.Btns:hover {
  transform: translateY(6px);
  box-shadow: 0px 0px 1px #fd5a47;
}
.Btns:nth-child(2) {
  border-color: #004265;
  background-color: #008ed9;
  box-shadow: 0px 6px 1px #03699f;
}
.Btns:nth-child(2):hover {
  box-shadow: 0px 0px 1px #03699f;
}
.Btns:nth-child(3) {
  border-color: #003722;
  background-color: #01985e;
  box-shadow: 0px 6px 1px #00633d;
}
.Btns:nth-child(3):hover {
  box-shadow: 0px 0px 1px #003722;
}

.Btns.Home,
.Btns.Epilogue {
  width: 220px;
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 15px;
  gap: 20px;
  box-shadow: none;
  font-size: 28px;
  transition: 0.3s;
}
.Btns.Home:hover,
.Btns.Epilogue:hover {
  transform: translateY(0px);
  background-color: #fc7da8;
  padding: 12px 80px 12px 0px;
  color: #fff;
}
.Btns.Home:hover span,
.Btns.Epilogue:hover span {
  transform: translateX(140px);
  opacity: 0;
}
.Btns.Home span,
.Btns.Epilogue span {
  display: inline-block;
  width: 60px;
  height: 62px;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.Btns.Home {
  background-color: #ffd4e3;
  border: 3px solid #cc4371;
  color: #cc4371;
  margin-top: 20px;
  margin-bottom: 30px;
}
.Btns.Home span {
  background-image: url(../images/button-Home.png);
}

.Btns.Epilogue {
  background-color: #7a5994;
  border: 3px solid #ffe8e8;
  color: #fff;
}
.Btns.Epilogue:hover {
  padding: 12px 100px 12px 0px;
  background-color: #e1bbff;
  color: #7a5994;
}
.Btns.Epilogue span {
  background-image: url(../images/button-ED.png);
}